<!-- <p>Find me in app/views/countries/index.html.erb</p> -->
<!DOCTYPE html>
<html>

 <head>

<!--  <link href="/home/action/workspace/TrueTrade/app/assets/stylesheets/style.css" rel="stylesheet" type="text/css"/>
 <link href="/home/action/workspace/TrueTrade/app/assets/stylesheets/responsive.css" rel="stylesheet" type="text/css"/>   -->
<!-- added   -->
<!-- <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>   -->
<!--  added ends -->
</head>

<body class = "boxed">
<div id="main-container" class="container">
  <%= render '/shared/topnav' %>
  <div class="row">
        <div id="sidebar" class="col-xs-3">
          <table align = center style="width:auto" ><h1 align = center >Country List</h1>
          <tr>
            <th>Sl.</th>
            <th>Name</th>
            <th>Code</th>
          </tr>
            <% count = 0 %>
            <% @countries.each do |country| %>
          <tr>
            <% count = count +1 %>
            <td><%=  count %></td>
            <td><%=  country.name %></td>
            <td><%=  country.code%></td>
          </tr>
         <% end %>
        </table>
        </div>
        
      </div>
    
      

</div>
</body>
</html>



