<!-- <p>Find me in app/views/countries/index.html.erb</p> -->

<img src="https://dl.dropboxusercontent.com/u/89451717/mapVecPng.png" alt="WorldMap" height="550" width="1150" align = center>

<table class="table table-bordered" style="width: auto;"  align = center>
   <h1 align = center >Country List</h1>
          <tr>
            <th>Sl.</th>
            <th>Name</th>
            <th>Code</th>
          </tr>
            <% count = 0 %>
            <% @countries.each do |country| %>
          <tr>
            <% count = count +1 %>
            <td><%=  count %></td>
            <td><%= link_to(country.name, country_path(country.code)) %></td>
            <td><%=  country.code %></td>
          </tr>
         <% end %>
        </table>



