<h1>Countries#show</h1>
<!-- <p>Find me in app/views/countries/show.html.erb</p> -->
<p><strong>Country Name
<%= @country.name %>
</p></strong>

<p><strong>Country Continent
<%= @country.continent %>
</p></strong>

