<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<h1>Collage#index</h1>
<p>Find me in app/views/collage/index.html.erb</p>
<div id="content" class="col-xs-9">
          <%= high_chart("some_id", @chart) %>
  


  
