
<h1>Main Graphs</h1>
<div id="content" class="col-xs-9">
          <%= high_chart("top5CommChart", @top5CommChart) %>
 
</div>  
<div id="content1" class="col-xs-9">    
</div> 
<!-- <div id="content2" class="col-xs-9">
     
</div> -->

  
<div id="test-chart" data-topcommvol = "<%=raw @topCommVol %>" data-topcommname = "<%=raw @topCommName %>">
<canvas height="450" id="canvas" width="600"></canvas>
</div>